body {
	margin: 0;
	background-color: #121212;
	color: white;
	font-family: "Roboto Mono", sans-serif;
	display: flex;
	justify-content: center;
}

.container {
	max-width: 600px;
	padding: 2rem;
	margin-top: 3rem;
	text-align: left;
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.3rem;
	font-weight: 700;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

p {
	font-size: 0.9rem;
	line-height: 1.6;
}

.links a {
	display: inline-block;
	color: #e0e0e0;
	text-decoration: underline;
	font-size: 0.85rem;
	transition: color 0.2s ease;
}

.links p a {
	color: #9ca3af;
	text-decoration: none;
}

.links a:hover {
	color: #bbbbbb;
}

.projects > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 7rem;
	border: 1px solid #303030;
	border-radius: 10px;
	background-color: #161616;
	padding: 1rem 1rem 1rem 2rem;
	font-size: 0.9rem;
	color: #A3A3A3;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}

.projects > div:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
	background-color: #1c1c1c;
}

.projects h3 {
	color: white;
	margin: 0 0 0.5rem 0;
	font-size: 1.2rem;
	font-weight: 700;
}

.projects img {
	width: 7rem;
}

.project_info {
	width: 75%;
}

.project {
	position: relative;
	cursor: pointer;
}

.project:not(:last-child) {
	margin-bottom: 1rem;
}

.project_link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	text-decoration: none;
	color: inherit;
}
